@use "../../styles/variables.scss" as *;

.container {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  height: calc(100vh - 90px);
  @include breakpoint(md) {
    flex-direction: row;
  }
}

.shops {
  overflow-y: auto;
  width: 100%;
  @include breakpoint(md) {
    width: 30%;

  }
}

.map {
  height: 100%;
  width: 100%;
  @include breakpoint(md) {
    width: 70%;
  }
}
